/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

div {
    display: flex;
    justify-content: center;
}

h1 {
    color: black;
    display: flex;
    justify-content: center;
}

/* Stil für den allgemeinen Input */
input {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

/* Hervorhebung bei Hover */
input:hover {
    border-color: #333;
}

/* Hervorhebung bei Fokus */
input:focus {
    outline: none;
    border-color: #0066cc;
    box-shadow: 0 0 5px rgba(0, 102, 204, 0.8);
}

/* Stil für einen Submit-Button */
input[type="submit"] {
    background-color: #0066cc;
    color: #fff;
    cursor: pointer;
}

/* Hervorhebung bei Hover für Submit-Button */
input[type="submit"]:hover {
    background-color: #0056aa;
}

/* Basis-Styling für Buttons */
button {
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    margin: 25px;
  }
  
  /* Standard-Button-Styling */
  button.standard {
    background-color: #0665a4;
    color: #fff;
  }
  
  /* Hover-Effekt für alle Buttons */
  button:hover {
    opacity: 0.8;
  }
  
  /* Hover-Effekt für Standard-Buttons */
  button.standard:hover {
    background-color: #2298e7;
  }
  
  /* Aktiver Zustand für alle Buttons */
  button:active {
    transform: translateY(2px);
  }
  
  /* Aktiver Zustand für Standard-Buttons */
  button.standard:active {
    background-color: #216a94;
  }
  
